@import '../../styles/variables.scss';

.info {
    //overflow-x: hidden;

    &__content {
        display: flex;
        width: 90vw;
        height: 40rem;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    &__specs {
        min-width: 50rem;
        height: 100%;
        background-color: $color-primary;
        color: $color-white;

        &-header, &-footer {
            text-align: center;
            font-size: 2.8rem;
        }

        &-content {
            display: flex;

            &-left-column {
                width: 65%;
                padding-left: 2rem;
            }

            &-left-column > div, &-right-column > div{
                margin: 2rem 0;
                font-size: 2rem;
            }

            &-right-column {
                width: 35%;
            }
        }
    }

    &__img {
        height: 80%;
    }

}
