@import '../../styles/variables.scss';

.info {
    //overflow-x: hidden;

    &__header {
        font-size: 4.5rem;
        text-align: center;
        font-family: 'Roboto-Regular';
        padding: 2rem 0 2rem 0;
    }

    &__content {
        display: flex;
        width: 90vw;
        height: 47rem;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    &__specs {
        min-width: 50rem;
        height: 100%;
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);

        &-header {
            padding-top: 0.5rem;
        }

        &-header, &-footer {
            text-align: center;
            font-size: 3.3rem;
        }

        &-content {
            display: flex;

            &-left-column {
                width: 65%;
                padding-left: 2rem;
            }

            &-left-column > div, &-right-column > div{
                margin: 2.3rem 0;
                font-size: 2.3rem;
                font-family: 'Roboto-Regular';
            }

            &-right-column {
                width: 35%;
            }
        }
    }

    &__img {
        height: 85%;

        box-shadow: 0 1rem 3rem rgba($color-black, .3);
    }

}
