@import '../../styles/variables.scss';

.kontakt {
    clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0% 100%);
    background-color: $color-primary;
    padding: 10rem 0 1rem 0;
    color: $color-white;
    text-align: center;
    height: 100%;

    &__copyright {
        font-size: 2rem;
        padding-top: 5rem;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto-Regular';
        font-size: 2.1rem;

        &-img {
            border-radius: 50%;
            height: 16rem;
            margin-right: 2rem;
            box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
        }

        &-header {
            font-size: 3.5rem;
            font-family: 'Roboto-Medium';
        }

        &-title {
            padding-bottom: 1rem;
        }
    }
}