@import '../../styles/variables.scss';

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $color-white;
    width: 100%;
    z-index: 99999;

    &__logo {
        height: 9rem;
        width: 9rem;
        padding: 1.5rem;
    }

    &__buttons {
        list-style: none;
        display: flex;
        margin-left: auto;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__button {
        margin: 0 1.2rem;

        &-link {
            text-decoration: none;
            color: $color-black;
            font-family: $font-bold;
        }
    }

    &__button-selected {
        border-bottom: $color-primary solid 5px;
    }
}