@import '../../styles/variables.scss';

.video {
    &__header {
        font-size: 4rem;
        color: $color-primary;
        text-align: center;
        margin-top: 2rem;
    }

    &__video-player {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 2.5rem 0;
    }
}